* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sidr {
  display: none;
  width: 260px;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  overflow-x: none;
  overflow-y: auto;
  background: #f8f8f8;
  color: #333;
}

.sidr.left {
  left: 0;
}
.sidr.right {
  right: 0;
}

@media screen and (min-width: 767px) {

  .sidr-menu { display: block; }
  .sidr-header { padding: 0 260px 0 0; }
  .sidr-content { margin: 0 auto; border: 1px solid #eee; max-width: 600px; }
  .sidr-body-left { margin: 0 0 0 260px; }
  .sidr-body-right { margin: 0 260px 0 0; }

  .sidr-menu-left-portrait { display: block; }
  .sidr-header-left-portrait { padding: 0 260px 0 0; }
  .sidr-header-right-portrait { padding: 0 260px 0 0; }
  .sidr-body-left-portrait { position: static; margin: 0 0 0 260px; }
  .sidr-body-right-portrait { position: static; margin: 0 260px 0 0; }

}


@media screen and (max-width: 767px) {

  .sidr-menu { display: none; }
  .sidr-header { padding: 0 0 0 0; }
  .sidr-body-left { margin: 0 0 0 0; }
  .sidr-body-right { margin: 0 0 0 0; }

  .sidr-body-left-portrait { position: absolute; left: 260px; width: 760px; }
  .sidr-body-right-portrait { position: absolute; right: 260px; width: 760px; }
  .sidr-menu-left-portrait { display: block; }
  .sidr-header-right-portrait { right: 260px; }
}